body {
    margin: 0;
    padding: 0;
    background-color: rgba(10, 10, 10);
    color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    height: 15rem;
    max-width: 788px;
    display: flex;
    margin-bottom: 0;
    position: absolute;
}


nav {
    margin: 10px;
    flex-direction: row;
    display: flex;
}

nav .title-share-button {
    background-color: rgb(255, 136, 0);
    margin: 1px 7rem;
    transition: cubic-bezier(.07, 1.41, .85, 1.41) 2s;
    transform: scale(1.02);
    cursor: pointer;
}

.header-background {
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #c4a86d, #966042, #c4a86d);
    background: linear-gradient(to right, #c4a86d, #966042, #c4a86d);

}

.share-button {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: rgb(240, 240, 240);
}


.container {
    width: 91%;
    max-width: 680px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(240, 240, 240)
}

h1 {
    font-size: 35px;
    margin-bottom: 30px;
}

#description {
    width: 90%;
    font-family: cursive;
    background-color: rgb(37, 37, 37);
    margin-bottom: 7px;
    padding: 0% 7%;
    border-radius: 17px;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    position: relative;
}

.title {
    background-color: rgb(37, 37, 37);
    margin: 7px;
    border-radius: 17px;
    justify-content: space-between;
    display: flex;
    transition: cubic-bezier(.07, 1.41, .85, 1.41) 5s;
}

.title:hover {
    transition: cubic-bezier(.07, 1.41, .85, 1.41) 5s;
    transform: scale(1.02);
}

.title h3 {
    color: rgb(211, 43, 43);
}

.title svg {
    width: 44px;
    height: 44px;
    margin: 3px 10px;
    padding-top: 5px;
}

.image-container {
    margin-top: 6rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    transition: cubic-bezier(.07, 1.41, .85, 1.41) 10s;
}

.image-container img {
    height: 17rem;
}

.title-share-button {
    margin-top: 10px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(52, 52, 52);
    transition: cubic-bezier(.07, 1.41, .85, 1.41) 10s;
}

.title-share-button:hover {
    transition: cubic-bezier(.07, 1.41, .85, 1.41) 10s;
    transform: scale(1.5);
}

.title-share-button h1 {
    margin-top: -2px;
    margin-left: 6px;
}

#translator {
    color:aliceblue;
    margin-top: -25px;
    margin-left: 80%;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(211, 43, 43);
    position: absolute;
    transition: cubic-bezier(.07, 1.41, .85, 1.41) 10s;
    cursor: pointer;
}

#translator:hover {
    transition: cubic-bezier(.07, 1.41, .85, 1.41) 10s;
    transform: scale(1.5);
}

#translator h1 {
    font-family: Georgia;
    margin-top: -1px;
}

.expand:hover {
    transition: cubic-bezier(.07, 1.41, .85, 1.41) 10s;
    transform: scale(1.20);
}

#name {
    text-align: center;
    transition: cubic-bezier(.07, 1.41, .85, 1.41) 10s;
}

#name_description h6 {
    font-size: 20px;
    text-align: center;
    margin-top: -20px;
}

#name_description .name-icon {
    position: relative;
    margin-top: -5.5rem;
    margin-left: 26rem;
    margin-bottom: 1px;
}

#name h1 {
    font-size: 60px;
    margin-top: 1px;
}

.section {
    width: 108%;
    margin: 0px;
    padding: 0px;
}

.section h3 {
    transition: cubic-bezier(.07, 1.41, .85, 1.41) 10s;
}

.grid {
    margin-top: 7px;
}